@model Category

<div class="container">
    <div class="row py-4">
        <div class="col-6">
            <h1>CREATE CATEGORY</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-primary btn-sm rounded" asp-controller="Category" asp-action="Index">
                <i class="bi bi-arrow-left"></i> BACK
            </a>
        </div>
    </div>
    <form method="post" asp-controller="Category" asp-action="Store">
        <div class="border p-3 my-4">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input class="form-control rounded" type="text" asp-for="Name" />
            </div>
            <div class="mb-3">
                <label asp-for="DisplayOrder"></label>
                <input class="form-control rounded" type="number" asp-for="DisplayOrder" />
            </div>
            <button type="submit" class="btn btn-primary rounded w-10">SAVE</button>
        </div>
    </form>
</div>