@model List<Category>

<div class="container">
    <div class="row py-4">
        <div class="col-6">
            <h1>CATEGORY LIST</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary btn-sm rounded" asp-controller="Category" asp-action="Create">
                <i class="bi bi-plus-lg"></i> CREATE
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tnody>
            @foreach (var item in Model.OrderBy(d => d.DisplayOrder))
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-sm btn-warning rounded mx-1" asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-sm btn-danger rounded mx-1" asp-controller="Category" asp-action="Delete" asp-route-Id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tnody>
    </table>
</div>