@model List<Product>

<div class="container">
    <div class="row py-4">
        <div class="col-6">
            <h1>PRODUCT LIST</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary btn-sm rounded" asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-plus-lg"></i> CREATE
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped rounded" id="tblData" width="100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Category</th>
                <th>Author</th>
                <th>List Price</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}